.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* DivTable.com */
.divTable {
  display: table;
  width: 100%;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: rgb(0, 0, 0);
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  border: 1px solid #000000;
  display: table-cell;
  padding: 100px 10px;
}
.divTableHeading {
  background-color: rgb(0, 0, 0);
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: rgb(0, 0, 0);
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}

.restaurant-header {
  align-items: center;
}

.header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  text-align: center;

  border: 2px solid #000000;
  position: relative;
  bottom: 0px;
  right: 0px;
  width: 1000px;
  height: 60px;
}

.button-add {
  padding: 10px 80px;

  position: relative;
  bottom: 0px;
  right: -5px;
}

.button-remove {
  font-size: 5px;

  position: relative;
  bottom: 0px;
  right: 0px;

  width: 5px;
  height: 5px;
}

.column-add {
  text-align: center;

  border: 2px solid #000000;
  width: 200px;
  height: 30px;

  position: relative;
  bottom: 0px;
  right: 0px;
}

.menu-header {
  text-align: center;

  border: 2px solid #000000;
  width: 200px;
  height: 30px;
}
